In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
f1=pd.read_csv("./files/cars.csv")
f2=pd.read_csv("./files/customer.csv")

In [3]:
f1.sample(5)

       brand  km_driven    fuel                 owner  selling_price
526     Jeep      14000  Diesel           First Owner        1600000
116   Maruti      60000  Diesel           First Owner         780000
1852  Maruti      35000  Petrol  Fourth & Above Owner          45000
445   Maruti      50000  Petrol           First Owner         320000
5864  Maruti       7400  Diesel           First Owner         925000

In [4]:
f2.sample(5)

    age  gender   review education purchased
32   92    Male  Average        UG       Yes
7    60  Female     Poor    School       Yes
33   89  Female     Good        PG       Yes
25   57  Female     Good    School        No
6    18    Male     Good    School        No

In [5]:
f1.nunique()

brand             32
km_driven        921
fuel               4
owner              5
selling_price    677
dtype: int64

In [6]:
f2.nunique()

age          41
gender        2
review        3
education     3
purchased     2
dtype: int64

In [7]:
df=f2.iloc[:,2:]

In [8]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(f1.drop('Class label', axis=1),
                                                    f1['Class label'],
                                                    test_size=0.3,
                                                    random_state=0)

x_train.shape, x_test.shape

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [11]:
o=OrdinalEncoder(categories=[['Poor','Average','Good'],['UG','PG','School']])

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le=LabelEncoder()