Question 1: Which of the following variable have null values? 

Question 2. Which of the following countries have maximum locations of cocoa manufacturing companies? 
 
Question 3. After checking the data summary, which feature requires a data conversion considering the data values held?

Question 4. What is the maximum rating of chocolates?

In [1]:
import numpy as np
import pandas as pd

In [2]:
f1=pd.read_csv("./files/flavors_of_cocoa.csv")
d1=pd.DataFrame(f1)

In [3]:
d1

,Id,Company,Bean Origin,Review Date,Cocoa Percent,Company Location,Rating
0,1,A. Morin,Agua Grande,2016.0,63%,France,3.75
1,2,A. Morin,Kpime,2015.0,70%,France,2.75
2,3,A. Morin,Atsane,2015.0,70%,France,3.00
3,4,A. Morin,Akata,2015.0,70%,France,3.50
4,5,A. Morin,Quilla,2015.0,70%,France,3.50
...,...,...,...,...,...,...,...
1790,1791,Zotter,Peru,2011.0,70%,Austria,3.75
1791,1792,Zotter,Congo,2011.0,65%,Austria,3.00
1792,1793,Zotter,Kerala State,2011.0,65%,Austria,3.50
1793,1794,Zotter,Kerala State,2011.0,62%,Austria,3.25
1794,1795,Zotter,"Brazil, Mitzi Blue",2010.0,65%,Austria,3.00

q1

In [9]:
ans=d1.isnull().sum()
ans

Id                  0
Company             0
Bean Origin         0
Review Date         4
Cocoa Percent       0
Company Location    0
Rating              0
dtype: int64

Which of the following countries have maximum locations of cocoa manufacturing companies?

In [24]:
m=d1['Company Location'].value_counts()
m.head(3)

Company Location
U.S.A.    764
France    156
Canada    125
Name: count, dtype: int64

After checking the data summary, which feature requires a data conversion considering the data values held?

In [25]:
d1.describe()

                Id  Review Date       Rating
count  1795.000000  1791.000000  1795.000000
mean    898.000000  2012.321608     3.185933
std     518.316184     2.928835     0.478062
min       1.000000  2006.000000     1.000000
25%     449.500000  2010.000000     2.875000
50%     898.000000  2013.000000     3.250000
75%    1346.500000  2015.000000     3.500000
max    1795.000000  2017.000000     5.000000

In [28]:
d1['Cocoa Percent'].dtype

dtype('O')

In [30]:
d1['Cocoa Percent'].astype(int)

ValueError: invalid literal for int() with base 10: '63%'

In [31]:
d1['Rating'].max()

5.0