In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [33]:
df=pd.read_csv('./files/titanic_toy.csv')
df.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [34]:
df.isnull().mean()

Age         0.198653
Fare        0.050505
Family      0.000000
Survived    0.000000
dtype: float64

In [35]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [36]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [37]:
x_train.shape,x_test.shape

((712, 3), (179, 3))

In [38]:
y_train.shape,y_test.shape

((712,), (179,))

In [39]:
mean_age=x_train['Age'].mean()
median_age=x_train['Age'].median()

mean_fare=x_train['Fare'].mean()
median_fare=x_train['Fare'].median()

In [47]:
x_train['Age_median']=x_train['Age'].fillna(median_age)
x_train['Age_mean']=x_train['Age'].fillna(mean_age)

x_train['fare_median']=x_train['Fare'].fillna(median_fare)
x_train['fare_mean']=x_train['Fare'].fillna(mean_fare)

In [48]:
x_train.sample(3)

      Age     Fare  Family  Age_median   Age_mean  fare_median  fare_mean
440  45.0  26.2500       2       45.00  45.000000      26.2500    26.2500
547   NaN  13.8625       0       28.75  29.785904      13.8625    13.8625
242  29.0  10.5000       0       29.00  29.000000      10.5000    10.5000

In [49]:
x_test.sample(3)

      Age   Fare  Family
304   NaN   8.05       0
618   4.0  39.00       3
18   31.0  18.00       1

In [50]:
print('Age variable variance: ',x_train['Age'].var())
print('Variance after median imputation: ',x_train['Age_median'].var())
print('Varian after mean imputation: ',x_train['Age_mean'].var())

Age variable variance:  204.34951339046142
Variance after median imputation:  161.98956633460548
Varian after mean imputation:  161.81262452718676

In [51]:
print('Fare variable variance: ',x_train['Fare'].var())
print('Variance after median imputation: ',x_train['fare_median'].var())
print('Varian after mean imputation: ',x_train['fare_mean'].var())

Fare variable variance:  2448.1979137063163
Variance after median imputation:  2340.09102197536
Varian after mean imputation:  2324.2385256705534

In [52]:
x_train['Fare'].isnull().value_counts()

Fare
False    676
True      36
Name: count, dtype: int64

In [53]:
fig=plt.figure()
ax=fig.add_subplot(111)
x_train['Age'].plot(kind='kde',ax=ax)
x_train['Age_mean'].plot(kind='kde',ax=ax)
x_train['Age_median'].plot(kind='kde',ax=ax)

lines,labels=ax.get_legend_modules

AttributeError: 'Axes' object has no attribute 'get_legend_modules'

In [54]:
x_train[['Age','Age_median','Age_mean']].boxplot()

In [55]:
x_train[['Age','Age_median','Age_mean']].plot.kde()

In [57]:
x_train[['Fare','fare_mean','fare_median']].boxplot()

In [58]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy="median")
x_train=imputer.fit_transform(x_train)

In [59]:
imputer.statistics_

array([28.75      , 14.4583    ,  0.        , 28.75      , 29.78590426,
       14.4583    , 15.5       ])

In [60]:
imputer1=SimpleImputer(strategy='median')
imputer2=SimpleImputer(strategy='mean')

In [69]:
# trf.fit(x_train)
# trf.named_transformers_['imputer'].statistics 
#its another method

In [70]:
trf=ColumnTransformer([
    ('imputer1',imputer1,['Age']),
    ('imputer2',imputer2,['Fare'])
 ],remainder='passthrough')