- **Name:** Smruti Sonekar
- **Branch:** CSE DS
- **UID:** 2021700064
- **EXPNO:** 10

In [38]:
import numpy as np
import pandas as pd

 Hypothesis Testing:
A Statistical Hypothesis Test is a method of statistical inference which is used in making decisions using sample data. Here we attempt to answer a few questions based on the nature of distribution and relationships between various attributes in our dataset through Hypothesis Tests. We follow the following methodology:

Formulate the null hypothesis  H0
  and the alternative hypothesis  HA
 
Select an appropriate statistical test and the corresponding test statistic
Choose level of significance Î± (generally taken as 0.05)
Collect data and calculate the value of test statistic
Determine the probability associated with the test statistic under the null hypothesis using sampling distribution of the test statistic
Compare the probability associated with the test statistic with level of significance specified

In [9]:
f1=pd.DataFrame(pd.read_csv("./files/insurance.csv"))
f1.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
f1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,1338.0,39.207025,14.049960,18.0000,27.00000,39.000,51.000000,64.00000
bmi,1338.0,30.663397,6.098187,15.9600,26.29625,30.400,34.693750,53.13000
children,1338.0,1.094918,1.205493,0.0000,0.00000,1.000,2.000000,5.00000
charges,1338.0,13270.422265,12110.011237,1121.8739,4740.28715,9382.033,16639.912515,63770.42801

**Does BMI of males differ significantly from that of females?**
-  **Step 1**: State the null and alternative hypothesis
- Null Hypothesis: Mean BMI of MALE and feMALE are same
- Alternative Hypothesis: Mean BMI of MALE and feMALE are different

- **Step 2**:Select an appropriate statistical test and the corresponding test statistic
- We select a 2-sample t-test as our statistical test and the corresponding t statistic as our test statistic.

- **Step 3**: Choose level of significance
- alpha = 0.05

- **Step 4** : Collection of data and calculate value of test case

In [13]:
male=f1[f1["sex"]=="male"]
female=f1[f1["sex"]=="female"]
bmi_male= male["bmi"]
bmi_female=female["bmi"]

In [15]:
print(f'Total no of  males :{male.shape[0]}')
print(f'Total no of females :{female.shape[0]}')
var1=np.var(bmi_male)
var2=np.var(bmi_female)
print("Variance of bmi in male : ",var1)
print("Variance of bmi in female : ",var2)

Total no of  males :676
Total no of females :662
Variance of bmi in male :  37.64916073639534
Variance of bmi in female :  36.499177033798524

In [16]:
from scipy.stats import ttest_ind

In [17]:
t_statistic, p_value = ttest_ind(bmi_male, bmi_female, equal_var=False)
print(f't_statistic: {t_statistic}\np_value: {p_value}')

t_statistic: 1.697027933124022
p_value: 0.08992430667834876

In [18]:
#comparing value with alpha 
alpha=0.05
p_value > alpha

True

- Conclusion : **Since after comparing , result is true, which means We fail to reject the Null Hypothesis and state that at 5% level of significance both male and female have equal BMI in insured Data.  BMI of males do not differ significantly from that of females in our data.**

- **Q2**:  Do charges of people who smoke differ significantly from the people who don't?
- Null Hypothesis: Mean Charges of smoker and non smokers are same.
- Alternative Hypothesis: Mean Charges of smoker and non smokers are different.

In [19]:
smoker=f1[f1["smoker"]=="yes"]
non_smoker=f1[f1["smoker"]=="no"]
charges=smoker["charges"]
non_charges=non_smoker["charges"]

In [20]:
print(f'Total no of  smokers :{smoker.shape[0]}')
print(f'Total no of non-smokers :{non_smoker.shape[0]}')
var1=np.var(charges)
var2=np.var(non_charges)
print("Variance of charges for smokers : ",var1)
print("Variance of charges for non smokers : ",var2)

Total no of  smokers :274
Total no of non-smokers :1064
Variance of charges for smokers :  132721153.13625307
Variance of charges for non smokers :  35891656.00316426

In [21]:
t_statistic, p_value = ttest_ind(charges, non_charges, equal_var=False)
print(f't_statistic: {t_statistic}\np_value: {p_value}')

t_statistic: 32.751887766341824
p_value: 5.88946444671698e-103

In [22]:
#check the p_value by comparing with alpha
p_value > alpha

False

- **Since, we have got false at result , WE Reject the Null Hypothesis and state the at 5% level of significance charges for smokers and non-smokers are not equal. Charges for smokers and non-smokers differ significanlty**

- Q3 :: **Is the proportion of smokers significantly different in different genders?**
- **Null Hypothesis**: Proportion of male and female smokers is equal/same.
- **Alternative Hypothesis**:Proportion of male and female smokers is not equal/different.

In [32]:
female_smokers = f1[f1['sex'] == "female"].smoker.value_counts().iloc[1] # number of female smokers
male_smokers = f1[f1['sex'] == "male"].smoker.value_counts().iloc[1] # number of male smokers

In [34]:
print([female_smokers, male_smokers] , [female.shape[0], male.shape[0]])

[115, 159] [662, 676]

In [35]:
p1=round(115/662,4)*100
p2=round(159/676,4)*100
print("Proportion of female smokers :: ",p1,"%")
print("Proportion of male smokers :: ",p2,"%")

Proportion of female smokers ::  17.37 %
Proportion of male smokers ::  23.52 %

In [36]:
from statsmodels.stats.proportion import proportions_ztest

stat, pval = proportions_ztest([female_smokers, male_smokers] , [female.shape[0], male.shape[0]])
print(f'Statistic: {stat}\np_value: {pval}')

Statistic: -2.7867402154855503
p_value: 0.005324114164320532

Determine the probability associated with the test statistic under the null hypothesis using sampling distribution of the test statistic

In [37]:
if pval < alpha:
    print(f'With a p-value of {pval} the difference is significant. We reject the Null Hypothesis.')
else:
    print(f'With a p-value of {pval} the difference is significant. We fail to reject the Null Hypothesis.')

With a p-value of 0.005324114164320532 the difference is significant. We reject the Null Hypothesis.