In [1]:
import pandas as pd

In [2]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

In [3]:
df1=pd.DataFrame(weather_data)
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df1.shape

(6, 4)

In [5]:
df1.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [6]:
df1.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
df1[1:3]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [13]:
df1.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
df1[['event','day']]   #]: The double brackets are used for DataFrame indexing. When you use double brackets,
#you are specifying a list of column names. In this case, it's selecting a subset of the DataFrame that includes only the columns named 'event' and 'day'.

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [11]:
df1.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [15]:
df1['temperature'].max()

35

In [21]:
m=df1['windspeed'].sum()
c=df1['windspeed'].count()
ans=m/c
ans

4.666666666666667

In [22]:
df1.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [23]:
#get all data where tempreature is greatert than 32
df1[df1.temperature >=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [24]:
df1[df1.temperature==df1.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [25]:
df1[['day','temperature']][df1.temperature==df1.temperature.max()]

        day  temperature
1  1/2/2017           35

In [27]:
df1.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [29]:
w=[ ('riya',32),
    ('tanvi',45),
    ('anuj',40)
]
d=pd.DataFrame(w,columns=['name','marks'])
d

    name  marks
0   riya     32
1  tanvi     45
2   anuj     40